*.db*
__pycache__/*
*.log
Scripts/*
.vscode/settings.json
debug.log
justice2.db
bin/*
bin/
lib/
lib/*
data/*.xml
data/*.xml.gz
*.db*
pyvenv.cfg
__pycache__/db_creation.cpython-38.pyc
__pycache__/download_files.cpython-38.pyc
__pycache__/update_db.cpython-38.pyc
key_gen.py
__pycache__/*
config_data.py
