{% include 'header.html' %}

{% for row in results %}

{% set zapis_split = row.zapis.split("-") %}
{% if zapis_split[1] == "01" %}
    {% set mesic = "ledna" %}
{% elif zapis_split[1] == "02" %}
    {% set mesic = "února" %}
{% elif zapis_split[1] == "03" %}
    {% set mesic = "března" %}
{% elif zapis_split[1] == "04" %}
    {% set mesic = "dubna" %}
{% elif zapis_split[1] == "05" %}
    {% set mesic = "května" %}
{% elif zapis_split[1] == "06" %}
    {% set mesic = "června" %}
{% elif zapis_split[1] == "07" %}
    {% set mesic = "července" %}
{% elif zapis_split[1] == "08" %}
    {% set mesic = "srpna" %}
{% elif zapis_split[1] == "09" %}
    {% set mesic = "září" %}
{% elif zapis_split[1] == "10" %}
    {% set mesic = "října" %}
{% elif zapis_split[1] == "11" %}
    {% set mesic = "listopadu" %}
{% elif zapis_split[1] == "12" %}
    {% set mesic = "prosince" %}
{% endif %}

{% if zapis_split[2][0] == "0" %}
    {% set den = zapis_split[2][1]  %}
{% else %}
    {% set den = zapis_split[2]  %}
{% endif %}

{% if insolvency_notes|length > 0 %}
    {% set table_style = "table table-danger" %}
{% elif loop.index % 2 == 0 %}
    {% set table_style = "table table-light" %}
{% else %}
    {% set table_style = "table table-secondary" %}
{% endif %}

{% if row.ico|length != 8 %}            
    {% set ico_buffer = [] %}
    {% for i in range (8 - row.ico|length) %}
        {% set ico_buffer = ico_buffer.append("0") %}
    {% endfor %}
    
{% else %}
    {% set ico_buffer = "" %}
{% endif %}



{% set undedrline_open_deleted = "<u>" %}
{% set undedrline_closed_deleted = "</u>" %}

<h1>Výpis z obchodního rejstříku</h1>
{% for i in range (row.soudni_zapis|length) %}
    {% if row.soudni_zapis[i].vymaz_datum == 0 %}
<h2>{{ row.nazev }}, {{ row.soudni_zapis[i].oddil }} {{ row.soudni_zapis[i].vlozka }} vedená u {{ row.soudni_zapis[i].soud }}</h2>
{% endif %}
{% endfor %}

<p><a href="/">Zpět na vyhledání.</a></p>

<table class= "table" style="width: 100%">
    <tr>
        <td style="width:15%">Datum vzniku a zápisu:</td>
        <td style="width:60%">{{den}}. {{mesic}} {{zapis_split[0]}}</td>
        <td style="width:25%"></td>
    </tr>
    {% if row.soudni_zapis|length > 0 %}
    <tr>
        <td>Spisová značka:</td>
        {% if row.soudni_zapis[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.soudni_zapis[0].oddil }} {{ row.soudni_zapis[0].vlozka }} vedená u {{ row.soudni_zapis[0].soud }}  {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.soudni_zapis[0].zapis_datum }} {% if row.soudni_zapis[0].vymaz_datum != 0 %} <br> Vymazáno: {{ row.soudni_zapis[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>

    {% for i in range (1, row.soudni_zapis|length) %}
    <tr>
        <td></td>
        {% if row.soudni_zapis[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.soudni_zapis[i].oddil }} {{ row.soudni_zapis[i].vlozka }} vedená u {{ row.soudni_zapis[i].soud }}  {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.soudni_zapis[i].zapis_datum }} {% if row.soudni_zapis[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.soudni_zapis[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %} 
    
    {% if row.obchodni_firma|length > 0 %}
    <tr>
        <td>Obchodní firma:</td>
        {% if row.obchodni_firma[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.obchodni_firma[0].nazev_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.obchodni_firma[0].zapis_datum }} {% if row.obchodni_firma[0].vymaz_datum != 0 %} <br> Vymazáno: {{ row.obchodni_firma[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.obchodni_firma|length) %}
    <tr>
        <td></td>
        {% if row.obchodni_firma[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.obchodni_firma[i].nazev_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.obchodni_firma[i].zapis_datum }} {% if row.obchodni_firma[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.obchodni_firma[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}    

    {% if row.sidlo_text|length > 0 %}
    <tr>
        <td>Sídlo:</td>
        {% if row.sidlo_text[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.sidlo_text[0].sidlo_text.adresa_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.sidlo_text[0].zapis_datum }} {% if row.sidlo_text[0].vymaz_datum != 0 %} <br> Vymazáno: {{ row.sidlo_text[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.sidlo_text|length) %}
    <tr>
        <td></td>
        {% if row.sidlo_text[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.sidlo_text[i].sidlo_text.adresa_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.sidlo_text[i].zapis_datum }} {% if row.sidlo_text[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.sidlo_text[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}  

    <tr>
        <td>Identifikační číslo:</td>
        <td>{{ ico_buffer|join("") }}{{ row.ico }}</td>
        <td>Zapsáno: {{den}}. {{mesic}} {{zapis_split[0]}}</td>
    </tr>


    {% if row.pravni_forma_text|length > 0 %}
    <tr>
        <td>Právní forma</td>
        {% if row.pravni_forma_text[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.pravni_forma_text[0].pravni_forma_text.pravni_forma }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.pravni_forma_text[0].zapis_datum }} {% if row.pravni_forma_text[0].vymaz_datum != 0 %} <br> Vymazáno: {{ row.pravni_forma_text[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.pravni_forma_text|length) %}
    <tr>
        <td></td>
        {% if row.pravni_forma_text[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.pravni_forma_text[i].pravni_forma_text.pravni_forma }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.pravni_forma_text[i].zapis_datum }} {% if row.pravni_forma_text[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.pravni_forma_text[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}    

    {% if row.zakladni_kapital|length > 0 %}
    <tr>
        <td>Základní kapitál:</td>
        {% if row.zakladni_kapital[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}

        {% if row.zakladni_kapital[0].vklad_typ == "KORUNY" %}
            {% set vklad_typ_symbol = "Kč" %}
            {% set vklad_typ_description = row.zakladni_kapital[0].vklad_hodnota %}
        {% elif row.zakladni_kapital[0].vklad_typ == "EURA" %}
            {% set vklad_typ_symbol = "euro" %}
            {% set vklad_typ_description = row.zakladni_kapital[0].vklad_hodnota %}
        {% else %}
            {% set vklad_typ_symbol = "" %}
            {% set vklad_typ_description = row.zakladni_kapital[0].vklad_hodnota %}
        {% endif %}           

        {% if row.zakladni_kapital[0].splaceni_typ == "KORUNY" %}
            {% set splaceni_typ_symbol = "Kč" %}
            {% set splaceni_typ_description = row.zakladni_kapital[0].splaceni_hodnota %}
        {% elif row.zakladni_kapital[0].splaceni_typ == "PROCENTA" %}
            {% set splaceni_typ_symbol = "%" %}
            {% set splaceni_typ_description = row.zakladni_kapital[0].splaceni_hodnota %}
        {% elif row.zakladni_kapital[0].splaceni_typ == "EURA" %}
            {% set splaceni_typ_symbol = "euro" %}
            {% set splaceni_typ_description = row.zakladni_kapital[0].splaceni_hodnota %}
        {% else %}
            {% set splaceni_typ_symbol = "" %}
            {% set splaceni_typ_description = row.zakladni_kapital[0].splaceni_hodnota %}
        {% endif %}  

        <td>{{ underlne_style_open|safe }} {{ vklad_typ_description }} {{ vklad_typ_symbol }} {% if splaceni_typ_description != "0" %} <br> Splaceno: {{ splaceni_typ_description }} {{ splaceni_typ_symbol }} {% endif %}  {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.zakladni_kapital[0].zapis_datum }} {% if row.zakladni_kapital[0].vymaz_datum != 0 %} <br> Vymazáno: {{ row.zakladni_kapital[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.zakladni_kapital|length) %}
    <tr>
        <td></td>
        {% if row.zakladni_kapital[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}

        {% if row.zakladni_kapital[i].vklad_typ == "KORUNY" %}
            {% set vklad_typ_symbol = "Kč" %}
            {% set vklad_typ_description = row.zakladni_kapital[i].vklad_hodnota %}
        {% elif row.zakladni_kapital[i].vklad_typ == "EURA" %}
            {% set vklad_typ_symbol = "euro" %}
            {% set vklad_typ_description = row.zakladni_kapital[i].vklad_hodnota %}
        {% else %}
            {% set vklad_typ_symbol = "" %}
            {% set vklad_typ_description = row.zakladni_kapital[i].vklad_hodnota %}
        {% endif %}           

        {% if row.zakladni_kapital[i].splaceni_typ == "KORUNY" %}
            {% set splaceni_typ_symbol = "Kč" %}
            {% set splaceni_typ_description = row.zakladni_kapital[i].splaceni_hodnota %}
        {% elif row.zakladni_kapital[i].splaceni_typ == "PROCENTA" %}
            {% set splaceni_typ_symbol = "%" %}
            {% set splaceni_typ_description = row.zakladni_kapital[i].splaceni_hodnota %}
        {% elif row.zakladni_kapital[i].splaceni_typ == "EURA" %}
            {% set splaceni_typ_symbol = "euro" %}
            {% set splaceni_typ_description = row.zakladni_kapital[i].splaceni_hodnota %}
        {% else %}
            {% set splaceni_typ_symbol = "" %}
            {% set splaceni_typ_description = row.zakladni_kapital[i].splaceni_hodnota %}
        {% endif %}  

        <td>{{ underlne_style_open|safe }} {{ vklad_typ_description }} {{ vklad_typ_symbol }} {% if splaceni_typ_description != "0" %} <br> Splaceno: {{ splaceni_typ_description }} {{ splaceni_typ_symbol }} {% endif %} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.zakladni_kapital[i].zapis_datum }} {% if row.zakladni_kapital[i].vymaz_datum != 0 %} <br> Vymazáno: {{ row.zakladni_kapital[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}


    {% if row.predmet_podnikani|length > 0 %}
    <tr>
        <td>Předmět podnikání:</td>
        {% if row.predmet_podnikani[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.predmet_podnikani[0].predmet_podnikani.predmet_podnikani }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.predmet_podnikani[0].zapis_datum }} {% if row.predmet_podnikani[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.predmet_podnikani[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.predmet_podnikani|length) %}
    <tr>
        <td></td>
        {% if row.predmet_podnikani[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.predmet_podnikani[i].predmet_podnikani.predmet_podnikani }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.predmet_podnikani[i].zapis_datum }} {% if row.predmet_podnikani[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.predmet_podnikani[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% if row.predmet_cinnosti|length > 0 %}
    <tr>
        <td>Předmět činnosti:</td>
        {% if row.predmet_cinnosti[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.predmet_cinnosti[0].predmet_cinnosti.predmet_cinnosti }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.predmet_cinnosti[0].zapis_datum }} {% if row.predmet_cinnosti[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.predmet_cinnosti[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.predmet_cinnosti|length) %}
    <tr>
        <td></td>
        {% if row.predmet_cinnosti[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.predmet_cinnosti[i].predmet_cinnosti.predmet_cinnosti }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.predmet_cinnosti[i].zapis_datum }} {% if row.predmet_cinnosti[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.predmet_cinnosti[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}
    
    {% if row.statutarni_organ_text|length > 0 %}
    <tr>
        <td>{{ row.statutarni_organ_text[0].statutarni_organ_text.statutarni_organ_text }}:</td>
        {% if row.statutarni_organ_text[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }}  {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[0].zapis_datum }} {% if row.statutarni_organ_text[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% if row.statutarni_organ_text[0].pocet_clenu|length > 0 %}
        <tr>    
            <td style = padding-left:2em>Počet členů orgánů:</td>
            {% if row.statutarni_organ_text[0].pocet_clenu[0].vymaz_datum != 0 %}
                {% set underlne_style_open = undedrline_open_deleted %}
                {% set underlne_style_close = undedrline_closed_deleted %}
            {% else %}
                {% set underlne_style_open = "" %}
                {% set underlne_style_close = "" %}
            {% endif %}
            <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[0].pocet_clenu[0].pocet_clenu_value }} {{ underlne_style_close|safe }}</td>
            <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[0].pocet_clenu[0].zapis_datum }} {% if row.statutarni_organ_text[0].pocet_clenu[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[0].pocet_clenu[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
        </tr>
    {% for i in range (1, row.statutarni_organ_text[0].pocet_clenu|length) %}
    <tr>    
        <td></td>
        {% if row.statutarni_organ_text[0].pocet_clenu[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[0].pocet_clenu[i].pocet_clenu_value }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[0].pocet_clenu[i].zapis_datum }} {% if row.statutarni_organ_text[0].pocet_clenu[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[0].pocet_clenu[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% if row.statutarni_organ_text[0].zpusoby_jednani|length > 0 %}
    <tr>    
        <td style = padding-left:2em>Způsob jednání:</td>
        {% if row.statutarni_organ_text[0].zpusoby_jednani[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[0].zpusoby_jednani[0].zpusob_jednani.zpusob_jednani_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[0].zpusoby_jednani[0].zapis_datum }} {% if row.statutarni_organ_text[0].zpusoby_jednani[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[0].zpusoby_jednani[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.statutarni_organ_text[0].zpusoby_jednani|length) %}
    <tr>    
        <td></td>
        {% if row.statutarni_organ_text[0].zpusoby_jednani[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
    <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[0].zpusoby_jednani[i].zpusob_jednani.zpusob_jednani_text }} {{ underlne_style_close|safe }}</td>
    <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[0].zpusoby_jednani[i].zapis_datum }} {% if row.statutarni_organ_text[0].zpusoby_jednani[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[0].zpusoby_jednani[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% for i in range (1, row.statutarni_organ_text|length) %}
    <tr>
        <td>{{ row.statutarni_organ_text[i].statutarni_organ_text.statutarni_organ_text }}:</td>
        {% if row.statutarni_organ_text[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }}  {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[i].zapis_datum }} {% if row.statutarni_organ_text[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    
    {% if row.statutarni_organ_text[i].pocet_clenu|length > 0 %}
    <tr>    
        <td style = padding-left:2em>Počet členů orgánů:</td>
        {% if row.statutarni_organ_text[i].pocet_clenu[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[i].pocet_clenu[0].pocet_clenu_value }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[i].pocet_clenu[0].zapis_datum }} {% if row.statutarni_organ_text[i].pocet_clenu[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[i].pocet_clenu[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for j in range (1, row.statutarni_organ_text[i].pocet_clenu|length) %}
    <tr>    
        <td></td>
        {% if row.statutarni_organ_text[i].pocet_clenu[j].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[i].pocet_clenu[j].pocet_clenu_value }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[i].pocet_clenu[j].zapis_datum }} {% if row.statutarni_organ_text[i].pocet_clenu[j].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[i].pocet_clenu[j].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}


    {% if row.statutarni_organ_text[i].zpusoby_jednani|length > 0 %}
    <tr>    
        <td style = padding-left:2em>Způsob jednání:</td>
        {% if row.statutarni_organ_text[i].zpusoby_jednani[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[i].pocet_clenu[0].zpusob_jednani.zpusob_jednani_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[i].zpusoby_jednani[0].zapis_datum }} {% if row.statutarni_organ_text[i].zpusoby_jednani[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[i].zpusoby_jednani[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for j in range (1, row.statutarni_organ_text[i].zpusoby_jednani|length) %}
    <tr>    
        <td></td>
        {% if row.statutarni_organ_text[i].zpusoby_jednani[j].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.statutarni_organ_text[i].pocet_clenu[j].zpusob_jednani.zpusob_jednani_text }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.statutarni_organ_text[i].zpusoby_jednani[j].zapis_datum }} {% if row.statutarni_organ_text[i].zpusoby_jednani[j].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.statutarni_organ_text[i].zpusoby_jednani[j].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% endfor %}
    {% endif %}
     
    {% if row.akcie|length > 0 %}
    <tr>
        <td>Akcie:</td>
        {% if row.akcie[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}

        {% if row.akcie[0].akcie_podoba == "LISTINNA" %}
            {% set akcie_podoba_description = "v listinné podobě" %}
        {% elif row.akcie[0].akcie_podoba == "ZAKNIHOVANA" %}
            {% set akcie_podoba_description = "v zaknihované podobě" %}
        {% elif row.akcie[0].akcie_podoba == "IMOBILIZOVANA" %}
            {% set akcie_podoba_description = "v imobilizované podobě" %}            
        {% else %}
            {% set akcie_podoba_description = "" %}    
        {% endif %}
        
        {% if row.akcie[0].akcie_typ == "KMENOVE_NA_JMENO" %}
            {% set akcie_typ_description = "kmenové akcie na jméno" %}
        {% elif row.akcie[0].akcie_typ == "KMENOVE_NA_MAJITELE" %}
            {% set akcie_typ_description = "kmenové akcie na majitele" %}
        {% elif row.akcie[0].akcie_typ == "KUSOVE_NA_JMENO" %}
            {% set akcie_typ_description = "kusové akcie" %}
        {% elif row.akcie[0].akcie_typ == "NA_JMENO" %}
            {% set akcie_typ_description = "akcie na jméno" %}
        {% elif row.akcie[0].akcie_typ == "NA_MAJITELE" %}
            {% set akcie_typ_description = "akcie na majitele" %}
        {% elif row.akcie[0].akcie_typ == "PRIORITNI_NA_JMENO" %}
            {% set akcie_typ_description = "prioritní akcie na jméno" %}
        {% elif row.akcie[0].akcie_typ == "PRIORITNI_NA_MAJITELE" %}
            {% set akcie_typ_description = "prioritní akcie na majitele" %}                           
        {% elif row.akcie[0].akcie_typ == "ZAMESTNANECKE_NA_JMENO" %}
            {% set akcie_typ_description = "zaměstnanecké akcie na jméno" %}
        {% elif row.akcie[0].akcie_typ == "ZVLASTNI_PRAVA" %}
            {% set akcie_typ_description = "akcie se zvláštními právy" %}
        {% elif row.akcie[0].akcie_typ == "HROMANDA" %}
            {% set akcie_typ_description = "hromadná akcie" %}
        {% elif row.akcie[0].akcie_typ == "NA_JMENO_A_MAJITELE" %}
            {% set akcie_typ_description = "akcie na jméno a majitele" %}
            {% else %}
            {% set akcie_typ_description = "" %}    
        {% endif %}  

        {% if row.akcie[0].akcie_hodnota_typ == "KORUNY" %}
            {% set akcie_hodnota_typ_symbol = "Kč" %}
        {% elif row.akcie[0].akcie_hodnota_typ == "EURA" %}
            {% set akcie_hodnota_typ_symbol = "euro" %}  
        {% else %}
            {% set akcie_hodnota_typ_symbol = "" %}
        {% endif %}      

        <td>{{ underlne_style_open|safe }} {{ row.akcie[0].akcie_pocet }} ks {{ akcie_typ_description }} {{ akcie_podoba_description }}  ve jmenovité hodnotě {{ row.akcie[0].akcie_hodnota_value }} {{ akcie_hodnota_typ_symbol }} {% if row.akcie[0].akcie_text != "0" %} <br> {{ row.akcie[0].akcie_text }} {% endif %} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.akcie[0].zapis_datum }} {% if row.akcie[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.akcie[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.akcie|length) %}
    <tr>
        <td></td>
        {% if row.akcie[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}

        {% if row.akcie[i].akcie_podoba == "LISTINNA" %}
            {% set akcie_podoba_description = "v listinné podobě" %}
        {% elif row.akcie[i].akcie_podoba == "ZAKNIHOVANA" %}
            {% set akcie_podoba_description = "v zaknihované podobě" %}
        {% elif row.akcie[i].akcie_podoba == "IMOBILIZOVANA" %}
            {% set akcie_podoba_description = "v imobilizované podobě" %}            
        {% else %}
            {% set akcie_podoba_description = "" %}    
        {% endif %}
        
        {% if row.akcie[i].akcie_typ == "KMENOVE_NA_JMENO" %}
            {% set akcie_typ_description = "kmenové akcie na jméno" %}
        {% elif row.akcie[i].akcie_typ == "KMENOVE_NA_MAJITELE" %}
            {% set akcie_typ_description = "kmenové akcie na majitele" %}
        {% elif row.akcie[i].akcie_typ == "KUSOVE_NA_JMENO" %}
            {% set akcie_typ_description = "kusové akcie" %}
        {% elif row.akcie[i].akcie_typ == "NA_JMENO" %}
            {% set akcie_typ_description = "akcie na jméno" %}
        {% elif row.akcie[i].akcie_typ == "NA_MAJITELE" %}
            {% set akcie_typ_description = "akcie na majitele" %}
        {% elif row.akcie[i].akcie_typ == "PRIORITNI_NA_JMENO" %}
            {% set akcie_typ_description = "prioritní akcie na jméno" %}                   
        {% elif row.akcie[i].akcie_typ == "ZAMESTNANECKE_NA_JMENO" %}
            {% set akcie_typ_description = "zaměstnanecké akcie na jméno" %}
        {% elif row.akcie[i].akcie_typ == "ZVLASTNI_PRAVA" %}
            {% set akcie_typ_description = "akcie se zvláštními právy" %}
        {% else %}
            {% set akcie_typ_description = "" %}    
        {% endif %}  

        {% if row.akcie[i].akcie_hodnota_typ == "KORUNY" %}
            {% set akcie_hodnota_typ_symbol = "Kč" %}
        {% elif row.akcie[i].akcie_hodnota_typ == "EURA" %}
            {% set akcie_hodnota_typ_symbol = "euro" %}  
        {% else %}
            {% set akcie_hodnota_typ_symbol = "" %}
        {% endif %}  

        <td>{{ underlne_style_open|safe }} {{ row.akcie[i].akcie_pocet }} ks {{ akcie_typ_description }} {{ akcie_podoba_description }}  ve jmenovité hodnotě {{ row.akcie[i].akcie_hodnota_value }} {{ akcie_hodnota_typ_symbol }} {% if row.akcie[i].akcie_text != "0"  %} <br> {{ row.akcie[i].akcie_text }} {% endif %} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.akcie[i].zapis_datum }} {% if row.akcie[i].vymaz_datum != 0 %} <br> Vymazáno: {{ row.akcie[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% if row.insolvence|length > 0 %}
    <tr>
        <td>Údaje o insolvencích:</td>
        {% if row.insolvence[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.insolvence[0].insolvency_event }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.insolvence[0].zapis_datum }} {% if row.insolvence[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.insolvence[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.insolvence|length) %}
    <tr>
        <td></td>
        {% if row.insolvence[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.insolvence[i].insolvency_event }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.insolvence[i].zapis_datum }} {% if row.insolvence[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.insolvence[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% if row.konkurz|length > 0 %}
    <tr>
        <td>Údaje o konkurzech:</td>
        {% if row.konkurz[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.konkurz[0].konkurz_event }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.konkurz[0].zapis_datum }} {% if row.konkurz[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.konkurz[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.konkurz|length) %}
    <tr>
        <td></td>
        {% if row.konkurz[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.konkurz[i].konkurz_event }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.konkurz[i].zapis_datum }} {% if row.konkurz[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.konkurz[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}    


    {% if row.ostatni_skutecnosti|length > 0 %}
    <tr>
        <td>Ostatní skutečnosti:</td>
        {% if row.ostatni_skutecnosti[0].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.ostatni_skutecnosti[0].ostatni_skutecnost }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.ostatni_skutecnosti[0].zapis_datum }} {% if row.ostatni_skutecnosti[0].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.ostatni_skutecnosti[0].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>
    {% for i in range (1, row.ostatni_skutecnosti|length) %}
    <tr>
        <td></td>
        {% if row.ostatni_skutecnosti[i].vymaz_datum != 0 %}
            {% set underlne_style_open = undedrline_open_deleted %}
            {% set underlne_style_close = undedrline_closed_deleted %}
        {% else %}
            {% set underlne_style_open = "" %}
            {% set underlne_style_close = "" %}
        {% endif %}
        <td>{{ underlne_style_open|safe }} {{ row.ostatni_skutecnosti[i].ostatni_skutecnost }} {{ underlne_style_close|safe }}</td>
        <td>{{ underlne_style_open|safe }} Zapsáno: {{ row.ostatni_skutecnosti[i].zapis_datum }} {% if row.ostatni_skutecnosti[i].vymaz_datum != 0 %} <br>   Vymazáno: {{ row.ostatni_skutecnosti[i].vymaz_datum }} {% endif %} {{ underlne_style_close|safe }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

</table>
    
{% endfor %}

{% include 'footer.html' %}