{% include 'header.html' %}

{% for row in results %}

{% set insolvency_notes = [] %}
{% for elem in row.insolvence %}
    {% set insolvency_notes = insolvency_notes.append(elem.insolvency_event) %}
{% endfor %}

{% set predmety_podnikani_notes = [] %}
{% for i in range (row.predmet_podnikani|length) %}
    {% if row.predmet_podnikani[i].vymaz_datum == 0 %}
        {% set predmety_podnikani_notes = predmety_podnikani_notes.append(row.predmet_podnikani[i].predmet_podnikani.predmet_podnikani) %}
        {% endif %}
{% endfor %}

{% set predmety_cinnosti_notes = [] %}
{% for i in range (row.predmet_cinnosti|length) %}
    {% if row.predmet_cinnosti[i].vymaz_datum == 0 %}
        {% set predmety_cinnosti_notes = predmety_cinnosti_notes.append(row.predmet_cinnosti[i].predmet_cinnosti.predmet_cinnosti) %}
        {% endif %}
{% endfor %}

{% set zakladni_kapital_notes = [] %}
{% for i in range (row.zakladni_kapital|length) %}
    {% if row.zakladni_kapital[i].vymaz_datum == 0 %}
        {% set zakladni_kapital_notes = zakladni_kapital_notes.append(row.zakladni_kapital[i]) %}
        {% endif %}
{% endfor %}

{% set zapis_split = row.zapis.split("-") %}
{% if zapis_split[1] == "01" %}
    {% set mesic = "ledna" %}
{% elif zapis_split[1] == "02" %}
    {% set mesic = "února" %}
{% elif zapis_split[1] == "03" %}
    {% set mesic = "března" %}
{% elif zapis_split[1] == "04" %}
    {% set mesic = "dubna" %}
{% elif zapis_split[1] == "05" %}
    {% set mesic = "května" %}
{% elif zapis_split[1] == "06" %}
    {% set mesic = "června" %}
{% elif zapis_split[1] == "07" %}
    {% set mesic = "července" %}
{% elif zapis_split[1] == "08" %}
    {% set mesic = "srpna" %}
{% elif zapis_split[1] == "09" %}
    {% set mesic = "září" %}
{% elif zapis_split[1] == "10" %}
    {% set mesic = "října" %}
{% elif zapis_split[1] == "11" %}
    {% set mesic = "listopadu" %}
{% elif zapis_split[1] == "12" %}
    {% set mesic = "prosince" %}
{% endif %}

{% if zapis_split[2][0] == "0" %}
    {% set den = zapis_split[2][1]  %}
{% else %}
    {% set den = zapis_split[2]  %}
{% endif %}

{% if row.soud == "MSPH" %}
    {% set soud = "Městského soudu v Praze" %}
{% elif row.soud == "KSCB" %}
    {% set soud = "Krajského soudu v Českých Budějovicích" %}
{% elif row.soud == "KSOS" %}
    {% set soud = "Krajského soudu v Ostravě" %}
{% elif row.soud == "KSPL" %}
    {% set soud = "Krajského soudu v Plzni" %}
{% elif row.soud == "KSBR" %}
    {% set soud = "Krajského soudu v Brně" %}
{% elif row.soud == "KSHK" %}
    {% set soud = "Krajského soudu v Hradci Králové" %}
{% elif row.soud == "KSUL" %}
    {% set soud = "Krajského soudu v Ústí nad Labem" %}
{% endif %}

{% if insolvency_notes|length > 0 %}
    {% set table_style = "table table-danger" %}
{% elif loop.index % 2 == 0 %}
    {% set table_style = "table table-light" %}
{% else %}
    {% set table_style = "table table-secondary" %}
{% endif %}

{% if row.ico|length != 8 %}            
    {% set ico_buffer = [] %}
    {% for i in range (8 - row.ico|length) %}
        {% set ico_buffer = ico_buffer.append("0") %}
    {% endfor %}
    
{% else %}
    {% set ico_buffer = "" %}
{% endif %}

<h1>Výpis z obchodního rejstříku</h1>
<h2>{{ row.nazev }}, {{ row.oddil }} {{ row.vlozka }} vedená u {{ soud }}</h2>
<p><a href="/">Zpět na vyhledání.</a></p>

<table class= "table" style="width: 100%">
    <tr>
        <td style="width:15%">Datum vzniku a zápisu:</td>
        <td style="width:85%">{{den}}. {{mesic}} {{zapis_split[0]}}</td>
    </tr>
    <tr>
        <td>Spisová značka:</td>
        <td>{{ row.oddil }} {{ row.vlozka }} vedená u {{ soud }}</td>
    </tr>
    <tr>
        <td>Obchodní firma:</td>
        <td>{{ row.nazev }}</td>
    </tr>
    <tr>
        <td>Sídlo:</td>
        <td>{{ row.sidlo }}</td>
    </tr>
    <tr>
        <td>Identifikační číslo:</td>
        <td>{{ ico_buffer|join("") }}{{ row.ico }}</td>
    </tr>
    <tr>
        <td>Právní forma:</td>
        <td>{{ row.pravni_forma[0].pravni_forma }}</td>
    </tr>

    {% if zakladni_kapital_notes|length > 0 %}
    <tr>
        {% if zakladni_kapital_notes[0].vklad_typ == "KORUNY" %}
            {% set vklad_typ_symbol = "Kč" %}
            {% set vklad_typ_description = zakladni_kapital_notes[0].vklad_hodnota %}
        {% elif zakladni_kapital_notes[0].vklad_typ == "EURA" %}
            {% set vklad_typ_symbol = "euro" %}
            {% set vklad_typ_description = zakladni_kapital_notes[0].vklad_hodnota %}
        {% else %}
            {% set vklad_typ_symbol = "" %}
            {% set vklad_typ_description = zakladni_kapital_notes[0].vklad_hodnota %}
        {% endif %}           

        {% if zakladni_kapital_notes[0].splaceni_typ == "KORUNY" %}
            {% set splaceni_typ_symbol = "Kč" %}
            {% set splaceni_typ_description = zakladni_kapital_notes[0].splaceni_hodnota %}
        {% elif zakladni_kapital_notes[0].splaceni_typ == "PROCENTA" %}
            {% set splaceni_typ_symbol = "%" %}
            {% set splaceni_typ_description = zakladni_kapital_notes[0].splaceni_hodnota %}
        {% elif zakladni_kapital_notes[0].splaceni_typ == "EURA" %}
            {% set splaceni_typ_symbol = "euro" %}
            {% set splaceni_typ_description = zakladni_kapital_notes[0].splaceni_hodnota %}
        {% else %}
            {% set splaceni_typ_symbol = "" %}
            {% set splaceni_typ_description = zakladni_kapital_notes[0].splaceni_hodnota %}
        {% endif %}  

        <td>Základní kapitál:</td>
        <td>{{ underlne_style_open|safe }} {{ vklad_typ_description }} {{ vklad_typ_symbol }} {% if splaceni_typ_description != "0" %} <br> Splaceno: {{ splaceni_typ_description }} {{ splaceni_typ_symbol }} {% endif %}  {{ underlne_style_close|safe }}</td>
    </tr>
    {% endif %}
    
    {% if predmety_podnikani_notes|length > 0 %}
    <tr>
        <td>Předmět podnikání:</td>
        <td>{{ predmety_podnikani_notes[0] }}</td>
    </tr>
    {% for i in range (1, predmety_podnikani_notes|length) %}
    <tr>
        <td></td>
        <td>{{ predmety_podnikani_notes[i] }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% if predmety_cinnosti_notes|length > 0 %}
    <tr>
        <td>Předmět činnosti:</td>
        <td>{{ predmety_cinnosti_notes[0] }}</td>
    </tr>
    {% for i in range (1, predmety_cinnosti_notes|length) %}
    <tr>
        <td></td>
        <td>{{ predmety_cinnosti_notes[i] }}</td>
    </tr>    
    {% endfor %}
    {% endif %}

    {% if insolvency_notes|length > 0 %}
    <tr>
        <td>Údaje o insolvencích:</td>
        <td>{{ insolvency_notes[0] }}</td>
        <td></td>
    </tr>        
        {% for i in range (1, insolvency_notes|length) %}
        <tr>
            <td></td>
            <td>{{ insolvency_notes[i] }}</td>
            <td></td>
        </tr>            
        {% endfor %}
    {% endif %}
</table>
    
{% endfor %}

{% include 'footer.html' %}