<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<title>Search Results - Flask Justice Database</title>
<body class="container-fluid">
<table class="table">
  <tr>
    <td><a href="/">Veřejný rejstřík podle subjektů</a></td>
    <td><a href="/osoby">Veřejný rejstřík podle fyzických osob v angažmá</a></td>
    <td><a href="/entity">Veřejný rejstřík podle právnických osob v angažmá</a></td>
    <td><a href="/trivia">Zajímavosti z obchodního rejstříku</a></td>
  </tr>
</table>