{% include 'header.html' %}

<h1>Nejčastější předmět podnikání:</h1>

<table class="table table-hover"  style="width: auto">
    <thead class="thead-dark">
    <tr class="table-info">
        <th scope="col">#</th>
        <th scope="col">Předmět podnikání</th>
        <th scope="col">Frekvence</th>
    </tr>
    </thead>
    <tbody>
    {% for i in range (most_common_business|length) %}
    <tr>
        <th scope = "row">{{ i + 1 }}</th>
        <td>{{ most_common_business[i][0] }}</td>
        <td>{{ most_common_business[i][1] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}