{% include 'header.html' %}

<h1>Nejčastější sídla:</h1>
<table class="table table-hover" style="width: auto">
    <thead class="thead-dark">
    <tr class="table-info">
        <th scope="col">#</th>
        <th scope="col">Adresa</th>
        <th scope="col">Frekvence</th>
    </tr>
    </thead>
    <tbody>
    {% for i in range (most_common_addresses|length) %}
    <tr>
        <th scope = "row">{{ i + 1 }}</th>
        <td><a href="/results-sidlo-{{most_common_addresses[i][2]}}">{{ most_common_addresses[i][0] }}</a></td>
        <td>{{ most_common_addresses[i][1] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}