{% include 'header.html' %}
<title>Justice Database</title>

<h2>Justice Database</h2>

<p></p><p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% from "_formhelpers.html" import render_field %}

<!-- NAME -->
<form method="post">
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.entity_name_search.label }}
      </div>
      <div class="col-sm">
        {{ form.entity_name_search()|safe }} {{ form.entity_name_search_selection }}
      </div>
    </div>


<!-- Foreign ID No. -->
    <div class="row g-2">
        <div class="col-sm-3">
          {{ form.entity_number_search.label }}
        </div>
        <div class="col-sm">
          {{ form.entity_number_search()|safe }} {{ form.entity_number_search_selection }}
        </div>
      </div>

<!-- MUNICIPALITY -->
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.obec_search.label }}
      </div>
      <div class="col-sm">
        {{ form.obec_search()|safe }} {{ form.obec_search_selection }}
      </div>
    </div>

<!-- STREET -->
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.ulice_search.label }}
      </div>
      <div class="col-sm">
        {{ form.ulice_search()|safe }} {{ form.ulice_search_selection }}
      </div>
    </div>

<!-- DESCR. NO. -->
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.cp_search.label }}
      </div>
      <div class="col-sm">
        {{ form.cp_search()|safe }} {{ form.cp_search_selection }}
      </div>
    </div>

<!-- OREINT. NO. -->
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.co_search.label }}
      </div>
      <div class="col-sm">
        {{ form.co_search()|safe }} {{ form.co_search_selection }}
      </div>
    </div>

<!-- Search -->
      <div class="row g-2">
        <div class="col-sm-3">
          Vyhledávat údaje:
        </div>
        <div class="col-sm">
          {{ form.entity_actual_selection }}
        </div>
      </div>
  </p>
  <p><input type="submit" value="Search">
  </p>
</form>

{% include 'footer.html' %}


