{% include 'header.html' %}
<title>Justice Database</title>

<h2>Justice Database</h2>

<p></p><p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% from "_formhelpers.html" import render_field %}

<!-- NAME -->
<form method="post">
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.entity_name_search.label }}
      </div>
      <div class="col-sm">
        {{ form.entity_name_search()|safe }} {{ form.entity_name_search_selection }} {{ form.entity_name_search_actual }} 
      </div>
    </div>

<!-- ID No. -->
    <div class="row g-2">
      <div class="col-sm-3">
        {{ form.entity_number_search.label }}
      </div>
      <div class="col-sm">
        {{ form.entity_number_search()|safe }} {{ form.entity_number_search_selection }} {{ form.entity_number_search_actual }} 
      </div>
    </div>

<!-- Foreign ID No. -->
    <div class="row g-2">
        <div class="col-sm-3">
          {{ form.foreign_entity_number_search.label }}
        </div>
        <div class="col-sm">
          {{ form.foreign_entity_number_search()|safe }} {{ form.foreign_entity_number_search_selection }} {{ form.foreign_entity_number_search_actual }} 
        </div>
      </div>

  </p>
  <p><input type="submit" value="Search">
  </p>
</form>

{% include 'footer.html' %}


