{% include 'header.html' %}

<h1>Zajímavosti z rejstříku</h1>

<p>Počet registrovaných osob: {{ number_entities }}</p>
<p>Další zajímvavé údaje z obchodního resjtříku:</p>
<p><a href="/most_common_addresses">Seznam nejčastějších sídel</a></p>
<p><a href="/oldest_companies">Seznam nejstarších společností</a></p>
<p><a href="/most_common_ubo">Seznam nejčastějších konečných vlastníků</a></p>
<p><a href="/most_common_purpose">Seznam nejčastějších účelů</a></p>
<p><a href="/most_common_business">Seznam nejčastějších předmětů podnikání</a></p>
<p><a href="/most_common_activity">Seznam nejčastějších předmětů činnosti</a></p>
<p><a href="/most_common_degree">Seznam nejčastějších titulů</a></p>
<p><a href="/oldest_persons">Seznam nejstarších osob</a></p>
<p><a href="/longest_registered_persons">Seznam nejdéle registrovaných osob</a></p>

{% include 'footer.html' %}